- unless rdocs.blank?
  .Rdocs
    %h2 Administrator Help Documents
    = render :partial => 'admin/help/administering/rdocs_administering_introduction'
    - rdocs.each do |rdoc|
      %h3
        - rdoc_name = rdoc_extension_dir(rdoc)
        = link_to rdoc_name.titleize, help_administering_docs_url(rdoc_name)