%p As an admin, you may add and remove users that have access to your website. To view the current users click on the "Users" link in the header.
%h2 Adding a User
%p 
  The 
  = link_to("new user screen", new_admin_user_path)
  has some helpful information on it about what must or need not be entered when creating a user. When you have completed the form, click "Create User" or "Save and Continue Editing" to create the user.
%h2 Disabling a User
%p 
  If you'd like to remove a certain user's access from your website, you must delete the user from the system. To do this, go to 
  = link_to("the list of all users", admin_users_path)
  , and click "Remove" for the appropriate user.