- if extension.author_name? && extension.author_contact
  %p 
    = "By" if extension.author_name? || extension.author_contact?
    = extension.author_name if extension.author_name?
    = extension.author_contact if extension.author_contact?