%h2 Editing Pages
%h3 Page Details
%p Each page has information that is used when your pages are generated. When you type your Page Title, the page Slug and Breadcrumb are automatically typed for you (click the 'More' link below the title to see these details). The slug is arguably the most important of these because it determines where your page will be found when visitors browse your website.
%h4 What is the Slug? 
%p It's the smallest part of the page URL.
%p If you want your "About Us" page to be found in a location such as yoursite.com/about, then the Slug for your "About Us" page is "about".
%p Likewise, if the "About Us" page has any children, such as a "Management Team" page, then the location of that page might be yoursite.com/about/management-team. In this case, the Slug for the "Management Team" page is "management-team".
%h4 Why do I need a Slug?
%p You may not want to make changes to it, but if you do you may make your "About Us" page available at yoursite.com/about or yoursite.com/about-us or yoursite.com/allaboutus... It's up to you.
%h4 Breadcrumb
%p Breadcrumbs trace your path from the home page to where your are. If you're on the "Management Team" page, for example, your breadcrumbs might look like this: Home > About Us > Management Team
%p The Breadcrumb field allows you to edit the text that will be displayed if and when your website uses breadcrumbs.
%h3 Filter
- render_region :filter do |filter|
  - filter.filter_basics do
    %p The filter that you select is used to process the text that you enter. That means that you don't need to write HTML for it to show up properly on your website. 
    %p 
      The filters provided for you are:
      = @filters.collect(&:filter_name).join(', ')
    %p To get more information about these text filters:
    %ol
      %li go to a page edit screen and select a filter
      %li click on the "Filter" link next to the Filter selection
      %li scroll through the documentation that appears to find out more about using your selected Filter.
    %p If you ever need help with formatting your text, the information is right where you need it.
%h3 Available Tags
%h3 Layout
%h3 Page Type
%h3 Status