.HelpNav
  %p 
    = link_to "The Basics", help_url
    - admin_help do
      = link_to "Administering", help_role_url(:admin)
    - developer_help do
      = link_to "Developing", help_role_url(:developer)