%h2 Organizing and Creating Pages
%p Pages are organized in a parent/child relationship.
%p That means that if you want an "About Us" section on your website and you want to have a page for each member of your staff, each staff page would be a 'child' of the "About Us" page.
%h3 Creating
%p To create a page, you add a child to another page. Your home page, for example, is the root of your website: all pages stem from your home page and it lives at yoursite.com/
%p A child of the home page lives at yoursite.com/about and a child of that child lives at yoursite.com/about/management-team.
%p If you think of your pages in terms of a family, you'll see that yoursite.com/about and yoursite.com/services are siblings. That is, they are both children of the home page.