- unless rdocs.blank?
  .Rdocs
    %h2= "#{(role.titleize + ' ') unless role == 'all'}Help Documents"
    = render :partial => 'rdocs_introduction'
    - rdocs.each do |rdoc|
      %h3
        - rdoc_name = rdoc_extension_dir(rdoc)
        = link_to rdoc_name.titleize, help_extension_doc_url(rdoc_name, role)