:sass
  .Help
    :overflow hidden
    :min-width 900px
    .HelpNav
      :background #efefef
      :border 1px solid #ccc
      :margin 0 0 10px
      :padding 0px
      p
        :margin 0
        :padding 0
      a
        :color #333
        :line-height 1.8
        :padding 3px
      a:hover
        :color #000
        :background #fff
    .Extras
      :background #eee
      :border 1px solid #ccc
      :float right
      :padding-top 10px
      :padding-bottom 10px
      :width 38%
      *
        :margin 0 10px
      * *
        :margin 0
      h2
        :color #666
      p, li
        :color #333
        :line-height 1.4
        :margin 0 10px 10px
    .MainTopics
      :float left
      :width 60%
      :min-height 300px
      *
        :margin 0
      h2
        :background #efefef
        :font-weight normal
        :font-size 1.4em
        :margin-bottom 10px
        :padding 2px
      h3
        :color #666
      h4
        :color #666
        :border-bottom 1px solid #666
        :padding-bottom 2px
      p, li
        :color #333
        :line-height 1.4
        :margin 0 0 10px
      code
        :background #efefef
      pre
        :background #eee
        :border 1px solid #ccc
        :margin-bottom 1em
        :padding-top 10px
        :width 100%
        :overflow auto