%h1
  = @extension.name
= render :partial => 'details', :locals => {:extension => @extension}

- unless @helps.blank?
  = help_tree_for(@helps)
- else
  %p No help information is provided at this time.
  = render :partial => 'hard_coded_details'
  
%p
  =link_to "Help Index", help_path